#button1{
	color:white;
	background-color: blue;
	border-radius: 20px;
	padding: 6px;
	margin-left: 610px;

}
li a:active {
    background-color:#b38600;
    color: white;
}
.navbar-toggle{
    background-color:#b38600; 
}
.fa{
	color: white;
}
.button1 {
    background:transparent; 
    color:white; 
    border: 2px solid #66a3ff;
    text-decoration:none;
    text-align: center;
    padding: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 50px;
    width: 15%;
}

.button1:hover{
    background-color:white;
    color:black;
}
.button2 {
    background:transparent; 
    color:black; 
    border: 2px solid black;
    text-decoration:none;
    text-align: center;
    padding: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 50px;
    width: 15%;
}

.button2:hover{
    background-color: #66a3ff;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3 {
    background:black; 
    color:white; 
    border: 2px solid black;
    text-decoration:none;
    text-align: center;
    padding: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 50px;
    width: 25%;
}

.button3:hover{
    background-color:transparent;
    border: 2px solid  #66a3ff;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button7 {
    background: #66a3ff; 
    color:black; 
    border: 3px solid black;
    text-decoration:none;
    text-align: center;
    padding: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    height: 50px;
    width: 15%;
}
.button7:hover{
    background-color:white;
    border: 2px solid  #66a3ff;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



.fa{
    color:  #b38600;
}
.intro-social {
    display: block;
     color: #b38600;
    width: 100%;
    bottom: 7.2rem;
    font-size: 3.3rem;

}
.intro-social li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}
.intro-social li a, .intro-social li a:visited {
    color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
    color: #cc005f;
}
.text{
    font-size: 15px;
    line-height: 20px;

}
.us{
    height: 450px;
}
.atiku .container{
    width: 80%;
    
}
.checked{
    color:#ff8400;
}